NUXT_AZURE_FUNCTION_URL=https://<function-name>.azurewebsites.net
NUXT_API_FUNCTION_MASTER_KEY=<get master key from Azure portal>
NUXT_APPLICATIONINSIGHTS_CONNECTION_STRING=<get connection string from Azure portal>